*{
    margin: 0.1%;
    padding: 0%;

}
.header ,.navbar , .footer{
    background-color: aqua;
    width: 100%;
    line-height: 50px;
    text-align: center;

}
.footer{
    overflow: auto;
}
.main{
    background-color: lime;
    width: 40%;
    line-height: 170px;
    text-align: center;
    float: left;
}
.artical{
    background-color: lime;
    width: 40%;
    line-height: 170px;
    text-align: center;
    overflow: auto;
    float: left;
}
.side{
    background-color: lime;
    width: 19.4%;
    line-height: 200px;
    text-align: center;
    float: right;
}